<!DOCTYPE html>
{% extends "_base.html" %}
{% load common_filters %}

{% block title%}Leaderboards{% endblock title %}
{% block main %}
  <h1 class="text-center">Leaderboards</h1>
    <div class="jumbotron jumbotron-fluid">
      <div class="container col-md-8">
        <h2 class="text-center">Math Facts</h2>
        <ol class="ps-5">
        {% for score in math_scores %}
          <li class="h4">
          <div class="row card border-2 border-rounded shadow m-auto p-3 text-center" style="max-width: 50rem;">
            <p class="h2" style="word-spacing: 1rem;">{{ score.score }} <i class="fa fa-solid fa-arrow-right"></i><span class="ps-4" ></span>{{ score.username }}</p>
            <p class="h3 ">
              {{ score.operation|swap }}
            </p>
            <p class="h3">
              {{ score.created|date }} @ {{ score.created|time }}
            </p>
            <p class="h3">
              Max Number: {{ score.maxnum }}
              <span class="ps-5"></span>
              Game Length: {{ score.gamelength }}
            </p>
            </div>
          </li>
        {% endfor %}
        </ol>
      </div>
    </div>
    <div><br /></div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container col-md-8">
        <h2 class="text-center">Anagram Hunt</h2>
        <ol class="ps-5">
        {% for score in anagram_scores %}
          <li class="h3">
            <div class="card border-2 border-rounded shadow m-auto p-3 text-center" style="max-width: 50rem;">
              <p class="h2" style="word-spacing: 1rem;">{{ score.score }} <i class="fa fa-solid fa-arrow-right"></i><span class="ps-4"></span>{{ score.username }}</p>
              <p class="h3">
                {{ score.created|date }} @ {{ score.created|time }}
              </p>
              <p class="h3">
                Word Length: {{ score.maxnum }}
                <span class="ps-5"></span>
                Game Length: {{ score.gamelength }}
              </p>
            </div>
          </li>
        {% endfor %}
        </ol>
      </div>
    </div>
{% endblock main %}
